@import '../../styles/_variables.less';

.pokemons {
  flex-grow: 1;
  background-color: white;

  &__container {
    flex-grow: 1;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__slogan {
    margin: 0;
    padding: 0;

    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: @color-text;
    font-weight: normal;
  }

  &__slogan,
  &__search {
    margin-bottom: 50px;
  }

  &__filter {
    margin-bottom: 70px;
  }
}
